body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: white;
    width: 100%;
    height: 5%;
}

.menu-items {
    margin-left: 15px;
}

.menu-items:hover {
    background-color: green ;
    transition: all 0.3s;
}

.picture {
    display: flex;
    align-items: center;
    background: rgb(136, 94, 94);
    width: 100%;
    height: 100%;
    font: 80px arial;
    background-image: url(images/background.jpg);
    background-size: cover;
    justify-content: center;
}
.grex {
    display: block;
    width: 100% ;
}
.text {
    color: #fff;
}
.ending {
    display: flex;
    width: 100%;
    height: 60%;
    background: green;
    color: white;
    text-decoration-line: underline ;
    justify-content: space-around
}
.info {
    display: flex;
    justify-content: left;
}
